---
import Layout from "../../layouts/Layout.astro";
import PageHeading1 from "../../components/PageHeading1.astro";

const companyName = "LAILA+STONE"; // add 'LTD' later
const companyDomain = "lailaandstone.com";
---

<Layout>
  <PageHeading1 text="Privacy" />
  <div class="w-full lg:w-1/2">
    <h2>Introduction</h2><p>
      We are <strong>{companyName}</strong>. Our Data Protection Lead can be
      contacted at <a
        href="mailto:info@{companyDomain}?subject=Enquiry%20Regarding%20Privacy%20Policy"
        >info@{companyDomain}</a
      >.
    </p><p>
      We have produced this privacy notice in order to keep you informed of how
      we handle your personal data. All handling of your personal data is done
      in compliance with the UK Data Protection Act 2018 and the General Data
      Protection Regulation (EU) 2016/679 ("Data Protection Legislation"). The
      terms "Personal Data", "Special Categories of Personal Data", "Personal
      Data Breach", "Data Protection Officer", "Data Controller", "Data
      Processor", "Data Subject" and "process" (in the context of usage of
      Personal Data) shall have the meanings given to them in the Data
      Protection Legislation. "Data Protection Lead" is the title given to the
      member of staff leading our data protection compliance programme in lieu
      of a requirement for a Data Protection Officer.
    </p><h2>What are your rights?</h2><p>
      When reading this notice, it might be helpful to understand that your
      rights arising under Data Protection Legislation include:
    </p><ul>
      <li>
        The right to be informed of how your Personal Data is used (through this
        notice);
      </li><li>The right to access any personal data held about you;</li><li>
        The right to withdraw consent at any time, by emailing info@{
          companyDomain
        };
      </li><li>
        The right to rectify any inaccurate or incomplete personal data held
        about you;
      </li><li>
        The right to erasure where it cannot be justified that the information
        held satisfies any of the criteria outlined in this policy, or where you
        have withdrawn consent;
      </li><li>
        The right to prevent processing for direct marketing purposes,
        scientific/historical research or in any such way that is likely to
        cause substantial damage to you or another, including through profile
        building; and
      </li><li>
        The right to object to processing that results in decisions being made
        about you by automated processes and prevent those decisions being
        enacted.
      </li>
    </ul><p>
      You can exercise your right to access personal data held about you by
      contacting <a
        href="mailto:info@{companyDomain}?subject=Enquiry%20Regarding%20Privacy%20Policy"
        >info@{companyDomain}</a
      > with the subject line: "Subject Access Request". When you submit a 'subject
      access request', you will need to provide confirmation of your identity by
      including a photocopy of your driver's license or passport. This service is
      provided free of charge and our response will be made within thirty (30) days,
      unless our Data Protection Lead deems your request as being excessive or unfounded.
      If this is the case, we will inform you of our reasonable administration costs
      in advance and/or any associated delays, giving you the opportunity to choose
      whether you would like to pursue your request. If you believe we have made
      a mistake in evaluating your request, please see the section 'Who can you complain
      to?'.
    </p><p>
      If you have questions about any of the rights mentioned in this section,
      please contact our Data Protection Lead at <a
        href="mailto:info@{companyDomain}?subject=Enquiry%20Regarding%20Privacy%20Policy"
        >info@{companyDomain}</a
      >.
    </p><h2>Who is the Data Controller?</h2><ul>
      <li>
        If we have collected your personal data directly from you for our own
        purposes, we are the Data Controller.
      </li><li>
        If we have purchased your personal data from a third-party for our own
        purposes, we are the Data Controller. Where we have purchased your
        personal data, we will contact you to let you know before we first start
        to use it, or, at the latest, within one month of acquiring it.
      </li><li>
        If we have been passed your personal data from a third-party for our own
        purposes, we are the Data Controller. We will contact you to let you
        know before we first start to use it, or, at the latest, within one
        month of acquiring it.
      </li><li>
        If we have been passed your personal data from a third-party for a joint
        purpose that we both influence, we are the joint Data Controller. We
        will contact you to let you know before we first start to use your data,
        or, at the latest, within one month of acquiring it.
      </li><li>
        If your data has been passed to us by a third party for processing under
        their instruction, that third party is the Data Controller. They should
        have notified you that they would be passing your personal data to us,
        {companyName}, at the time they collected your data and within their own
        privacy notices/standards. For a list of Data Controllers that we
        process personal data for, the section below 'Third Party Interests'.
      </li><li>
        If we have received your personal data as part of a business to business
        relationship, the Data Controller is your employer.
      </li>
    </ul><h2>What are the lawful bases for processing personal data?</h2><p>
      Under Data Protection Legislation, there must be a 'lawful basis' for the
      use of personal data. The lawful bases are:
    </p><ul>
      <li>a) 'your consent';</li><li>b) 'performance of a contract';</li><li>
        c) 'compliance with a legal obligation';
      </li><li>d) 'protection of your, or another's vital interests';</li><li>
        e) 'public interest/official authority'; and
      </li><li>f) 'our legitimate interests'.</li>
    </ul><h2>What are our 'legitimate interests'?</h2><p>
      Legitimate interests are a flexible basis upon which the law permits the
      processing of an individual's personal data. To determine whether we have
      a legitimate interest in processing your data, we balance the needs and
      benefits to us against the risks and benefits for you of us processing
      your data. This balancing is performed as objectively as possible by our
      Data Protection Lead. You are able to object to our processing and we
      shall consider the extent to which this affects whether we have a
      legitimate interest.
    </p><h2>About our processing of your data</h2><p>
      Personal data, or personal information, means any information about an
      individual from which that person can be identified. It does not include
      data where the identity has been removed (anonymous data).
    </p><p>
      We may collect, use, store and transfer different kinds of personal data
      about you which we have grouped together follows:
    </p><ul>
      <li>
        Identity Data includes first name, maiden name, last name, email or
        similar identifier.
      </li><li>
        Technical Data includes internet protocol (IP) address, your login data,
        browser type and version, time zone setting and location, browser
        plug-in types and versions, operating system and platform and other
        technology on the devices you use to access this website.
      </li><li>
        Usage Data includes information about how you use our website, products
        and services.
      </li><li>
        Marketing and Communications Data includes your preferences in receiving
        marketing from us and our third parties and your communication
        preferences.
      </li>
    </ul><p>
      We also collect, use and share Aggregated Data such as statistical or
      demographic data for any purpose. Aggregated Data may be derived from your
      personal data but is not considered personal data in law as this data does
      not directly or indirectly reveal your identity. For example, we may
      aggregate your Usage Data to calculate the percentage of users accessing a
      specific website feature. However, if we combine or connect Aggregated
      Data with your personal data so that it can directly or indirectly
      identify you, we treat the combined data as personal data which will be
      used in accordance with this privacy notice.
    </p><p>
      We do not collect any Special Categories of Personal Data about you (this
      includes details about your race or ethnicity, religious or philosophical
      beliefs, sex life, sexual orientation, political opinions, trade union
      membership, information about your health and genetic and biometric data).
      Nor do we collect any information about criminal convictions and offences.
    </p><p>
      Marketing Identity Data. This processing is conducted lawfully on the
      basis of 'our legitimate interests' to allow us to introduce you to a
      potential business opportunity when we feel it may be a good fit for your
      company. Your consent is obtained prior to the referral. This processing
      is conducted lawfully on the basis of 'your consent'.Directly obtained.
    </p><p>
      AnalyticsTechnical Data. To understand how you use our website, how you
      reached us and how long you spend on our website, in order to analyse our
      performance and improve our service. This processing is conducted lawfully
      on the basis of 'our legitimate interests'.Directly obtained or indirectly
      obtained through a client's website (notice given at the point of
      collection).
    </p><h2>
      What happens if I refuse to give <strong>{companyName}</strong> my personal
      data?
    </h2><p>
      The information about you that we have collected is required in order for
      us to successfully fulfil our obligations to you. If you choose not to
      provide the personal data requested, we will not be able to enter into a
      contract with you to provide the benefits we offer. If we are already
      processing your personal information under a contract, you must end our
      contractual relationship (as/where permitted) in order to exercise some of
      your rights.
    </p><p>
      We process some personal information as part of a contractual relationship
      with a Data Controller. Any requests to restrict this type of processing
      should be forwarded to the Data Controller; they will be responsible for
      discussing your concerns and making any decisions.
    </p><h2>
      What are <strong>{companyName}</strong>'s 'legitimate interests'?
    </h2><p>
      Legitimate interests are a flexible basis upon which the law permits the
      processing of an individual's personal data. To determine whether we have
      a legitimate interest in processing your data, we balance the needs and
      benefits to us against the risks and benefits for you of us processing
      your data. This balancing is performed as objectively as possible by our
      Data Protection Lead. You are able to object to our processing and we
      shall consider the extent to which this affects whether we have a
      legitimate interest. If you would like to find out more about our
      legitimate interests, please contact <a
        href="mailto:info@{companyDomain}?subject=Enquiry%20Regarding%20Privacy%20Policy"
        >info@{companyDomain}</a
      >.
    </p><h2>What profiling or automated decision making do we perform?</h2><p>
      {companyName} does not perform any profiling or automated decision making based
      on your personal data.
    </p><h2>How long will your personal data be kept?</h2><p>
      <strong>{companyName}</strong> holds different categories of personal data
      for different periods of time. Wherever possible, we will endeavour to minimise
      the amount of personal data that we hold and the length of time for which it
      is held.
    </p><ul>
      <li>
        If 'consent' is the basis for our lawful processing of your data, we
        will retain your data so long as both the purpose for which it was
        collected, and your consent, are still valid. We review the status of
        your consent every twelve (12) months and treat non-response to our
        requests for renewal of consent as if they were your request to withdraw
        consent. Occasionally, we might identify a legitimate interest in
        retaining some of your personal data that has been obtained by consent.
        If we do, we will inform you that we intend to retain it under these
        conditions and identify the interest specifically.
      </li><li>
        Identity, Contact and Transaction Data are held indefinitely (subject to
        object by the individual, or individual's having left our client's
        business) in order to provide a superior service to returning customers.
      </li><li>
        If we process your data on the basis of 'legitimate interests', we will
        retain your data for so long as the purpose for which it is processed
        remains active. We review the status of our legitimate interests every
        twelve (12) months and will update this notice whenever we determine
        that either a legitimate interest no longer exists or that a new one has
        been found.
      </li><li>
        All categories of personal data that are held by us because they are
        essential for the performance of a contract, will be held for a period
        of six years, as determined by reference to the Limitations Act 1980,
        for the purposes of exercising or defending legal claims.
      </li>
    </ul><h2>Who else will receive your personal data?</h2><p>
      <strong>{companyName}</strong> passes your data to the third parties listed
      in the section 'Third Party Interests' below, for the purposes of providing
      our services to you, and for no other purpose.
    </p><h2>Does your data leave the EU?</h2><p>
      <strong>{companyName}</strong> uses overseas web and IT providers. Details
      of what data is sent where, and the safeguards in place, are included in the
      section 'Third Party Interests' below.
    </p><h2>Third Party Interests and Data Processors</h2><p>
      Name of Third Party ProcessorPurposes for carrying out processing are:
      <ul>
        <li>
          FormsparkForm management: https://formspark.io/legal/privacy-policy/.
        </li>
        <li>
          Botpoison Spam prevention:
          https://botpoison.com/legal/privacy-policy/.
        </li>
        <li>Netlify Internet hosting.</li>
      </ul>
    </p><h2>Who can you complain to?</h2><p>
      In addition to sending us your complaints directly to info@{
        companyDomain
      }, you can send complaints to our supervisory authority. As {companyName} predominantly
      handles the personal data of UK nationals, our supervisory authority is the
      Information Commissioner's Office. If you believe that we have failed in our
      compliance with data protection legislation, complaints to this authority can
      be made by visiting https://ico.org.uk/concerns/.
    </p>
  </div>
</Layout>
